
  .lessons-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 1rem;
    height: 80%;
    width: 105%;
    background: url("../../../public/Image/backroot.jpg");
    background-size: contain;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.5rem #263238 inset;
    place-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .lessons-grid::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
  
  .lesson {
    background: linear-gradient(#004d4077,#004D40,#004d4094);
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 6rem;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    box-shadow: 0 0 1rem #263238;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  .lesson img {
    margin-bottom: 0.1rem;
    width: 6rem;
    border-radius: 0.5rem;
  }
  
  .lesson.selected {
    transition: 0.3s;
    font-weight: bolder;
    box-shadow: 0 1rem 1rem #263238;
    overflow: hidden;
  }
  .lesson.selected span{
    background: linear-gradient(#e7dc3c,#e74d3c8a,#e7dc3c);
    transform: scale(1.2);
    transition: 0.5s;
    font-size: small;
    padding-bottom: 1rem;
  }

  
  .lesson:hover {
    transition: 0.3s;
    font-weight: bolder;
    background: linear-gradient(#297fb986,#2980b9,#297fb986);
  }
  
  .confirm-button {
    background: linear-gradient(#2ecc71,#2ecc7083,#2ecc7083);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bolder;
    width: 8rem;
    margin-bottom: 10%;
  }


  .submit-btn, .back-btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-btn {
    background: linear-gradient(#B71C1C,#b71c1c7c,#b71c1c7c);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bolder;
    width: 8rem;
  }
  .back-btn:hover {
    background: linear-gradient(#B71C1C,#B71C1C,#b71c1c7c);
  }
  
  .submit-btn {
    background-color: #5cb85c;
    color: white;
  }
  
  
  .confirm-button:disabled {
    background: linear-gradient(#bdc3c7,#bdc3c7,#2ecc7083);
    cursor: not-allowed;
  }
  
  .confirm-button:not(:disabled):hover {
    background: linear-gradient(#2ecc71,#2ecc71,#2ecc7083);
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }