<div class="container-mobile">
  <div class="chat-profile">
  </div>
  <h2 class="text-white" style="font-family:  fantasy;">Chat with <span style="color: #69F0AE;">OpenAI</span></h2>
  <div class="chat-box" #chatBox>
    <div
      *ngFor="let message of messages"
      class="message"
      [class.user]="message.isUser"
    >
      <div [ngClass]="message.isUser ? 'message-right' : 'message-left'">
        <strong *ngIf="message.isUser">
          <span style="font-family: cursive;">You</span><br>
        </strong>
        <strong *ngIf="!message.isUser">
          <span style="font-family: cursive;" name="gpt-name">
            <div class="chat-profile">
            </div>
            ChatGPT
          </span>
          <br><br><hr>
        </strong>
        <span>{{ message.text }}</span>
      </div>
    </div>
    <!-- نمایش وضعیت "در حال تایپ" یا "لطفا صبر کنید" -->
    <div *ngIf="isTyping" class="message typing">
      <div class="message-left">
        
        <strong>ChatGPT is typing...</strong>
      </div>
    </div>
  </div>
  <div class="input-container">
    <textarea
      [(ngModel)]="userMessage"
      placeholder="پیام خود را یادداشت کنید..."
    ></textarea>
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
