.divider {
    width: 100%;
    border-top: 1px solid #ccc;
  }
  
  .selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .lesson-selection, .level-selection {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
  }
  
  .lesson{
    flex: 1;
    margin: 5px;
    padding: 20px;
    background-color: #EB3678; /* به عنوان مثال */
    text-align: center;
    cursor: pointer;
    max-width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  .level{
    flex: 1;
    margin: 5px;
    padding: 20px;
    background-color: #FB773C; /* به عنوان مثال */
    text-align: center;
    cursor: pointer;
    max-width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }

  .selected {
    border: 2px solid green;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .submit-btn,.back-btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-btn {
    background-color: #180161;
    color: white;
  }
  
  .submit-btn {
    background-color: #5cb85c;
    color: white;
  }
  