.valid-code {
  border: 2px solid green;
}

.invalid-code {
  border: 2px solid red;
}

  .input-container {
    margin-bottom: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .code-input {
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
  }

  
