
.result-page{
width: 100%;
}
.score-box {
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #fb773c;
    border-color: #fb773c;
    width: 100%;
  }
  
  .container {
    padding: 20px;
    border-radius: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  